{
  "printWidth": 80,
  "experimentalTernaries": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "overrides": [
    { "files": "**/Bíblia/*.ts", "options": { "printWidth": 130 } },
    { "files": "*.json", "options": { "printWidth": 120 } }
  ]
}
